<!--------------------
        START - Mobile Menu
        -------------------->
<div class="menu-mobile menu-activated-on-click color-scheme-dark">
    <div class="mm-logo-buttons-w">
        <a class="mm-logo" href="{{ path('index')}}"><img src="img/logo.png"><span>Book Keeper</span></a>
        <div class="mm-buttons">

            <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
            </div>
        </div>
    </div>

    <div class="menu-and-user">
        <div class="logged-user-w">
            <div class="avatar-w">
                <img alt="" src="img/avatar1.jpg">
            </div>
            <div class="logged-user-info-w">
                <div class="logged-user-name">
                    Matt Twardowski
                </div>
                <div class="logged-user-role">
                    Administrator
                </div>
            </div>
        </div>
        <!--------------------
        START - Mobile Menu List
        -------------------->
        <ul class="main-menu">
            <li class="">
                <a href="{{ path('index') }}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-layout"></div>
                    </div>
                    <span>Dashboard</span></a>

            </li>
            <li class="">
                <a href="{{ path('find_games') }}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-layers"></div>
                    </div>
                    <span>Find Games</span></a>

            </li>

        </ul>
        <!--------------------
        END - Mobile Menu List
        -------------------->

    </div>
</div>
<!--------------------
END - Mobile Menu
--------------------><!--------------------
        START - Main Menu
        -------------------->
<div class="menu-w color-scheme-light color-style-default menu-position-top menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-bright menu-activated-on-hover">
    <div class="logo-w">
        <a class="logo" href="{{ path('index') }}">
            <div class="logo-element"></div>
            <div class="logo-label">
                Book Keeper
            </div>
        </a>
    </div>
    <h1 class="menu-page-header">
        Page Header
    </h1>
    <ul class="main-menu">
        <li class="sub-header">
            <span>Layouts</span>
        </li>
        <li id="page-link-dashboard" class="">
            <a href="{{ path('index') }}">
                <div class="icon-w">
                    <div class="os-icon os-icon-layout"></div>
                </div>
                <span>Dashboard</span></a>
        </li>
        <li id="page-link-find-games" class="">
            <a href="{{ path('find_games') }}">
                <div class="icon-w">
                    <div class="os-icon os-icon-layers"></div>
                </div>
                <span>Find Games</span></a>

        </li>


    </ul>


    <div class="top-menu-controls">

        <!--------------------
        START - Messages Link in secondary top menu
        -------------------->
        <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
            <i class="os-icon os-icon-mail-14"></i>
            <div class="new-messages-count">
                12
            </div>
            <div class="os-dropdown light message-list">
                <ul>
                    <li>
                        <a href="#">
                            <div class="user-avatar-w">
                                <img alt="" src="img/avatar1.jpg">
                            </div>
                            <div class="message-content">
                                <h6 class="message-from">
                                    John Mayers
                                </h6>
                                <h6 class="message-title">
                                    Account Update
                                </h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="user-avatar-w">
                                <img alt="" src="img/avatar2.jpg">
                            </div>
                            <div class="message-content">
                                <h6 class="message-from">
                                    Phil Jones
                                </h6>
                                <h6 class="message-title">
                                    Secutiry Updates
                                </h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="user-avatar-w">
                                <img alt="" src="img/avatar3.jpg">
                            </div>
                            <div class="message-content">
                                <h6 class="message-from">
                                    Bekky Simpson
                                </h6>
                                <h6 class="message-title">
                                    Vacation Rentals
                                </h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="user-avatar-w">
                                <img alt="" src="img/avatar4.jpg">
                            </div>
                            <div class="message-content">
                                <h6 class="message-from">
                                    Alice Priskon
                                </h6>
                                <h6 class="message-title">
                                    Payment Confirmation
                                </h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--------------------
        END - Messages Link in secondary top menu
        -------------------->

    </div>
</div>
<!--------------------
END - Main Menu
-------------------->