{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="content-box">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="element-balances justify-content-between mobile-full-width">
                    <div class="balance balance-v2">
                        <div class="balance-title">
                            Your Portfolio Balance
                        </div>
                        <div class="balance-value">
                            <span class="d-xxl-none">$0.00</span>
                            <span class="d-none d-xxl-inline-block">$0.00</span>
                        </div>
                    </div>
                </div>
                <div class="element-wrapper pb-4 mb-4 border-bottom">
                    <div class="element-box-tp">
                        <a id="get-all-games" class="btn btn-primary" href="#"><i class="os-icon os-icon-refresh-ccw"></i><span>Update</span></a>
                        <a class="btn btn-grey" href="#"><i class="os-icon os-icon-log-out"></i><span>Withdraw</span></a>
                        <a class="btn btn-grey d-none d-sm-inline-block" href="#"><i class="os-icon os-icon-plus-circle"></i><span>Add Funds</span></a>
                    </div>
                </div>
                <div class="element-wrapper compact">
                    <div class="element-box-tp">
                        <div class="element-actions d-none d-sm-block">
                            <form class="form-inline justify-content-sm-end">
                                <label class="smaller" for="">Show Period:</label><select class="form-control form-control-sm form-control-faded">
                                    <option selected="true">
                                        Last 30 days
                                    </option>
                                    <option>
                                        This Week
                                    </option>
                                    <option>
                                        This Month
                                    </option>
                                    <option>
                                        Today
                                    </option>
                                </select>
                            </form>
                        </div>
                        <h6 class="element-box-header">
                            Balance History
                        </h6>
                        <div class="el-chart-w">
                            <canvas data-chart-data="13,28,19,24,43,49,40,35,42,46,38,32,45" height="50" id="liteLineChartV3" width="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">

                <div class="element-wrapper compact">
                    <div class="element-actions d-none d-sm-block">
                        <form class="form-inline justify-content-sm-end">
                            <label class="smaller" for="">News For</label>
                            <select class="form-control form-control-sm form-control-faded">
                                <option value="Pending">
                                    All Sports
                                </option>
                                <option value="Active">
                                    NFL
                                </option>
                                <option value="Cancelled">
                                    NBA
                                </option>
                            </select>
                        </form>
                    </div>
                    <h6 class="element-header">
                        Recent Sports News
                    </h6>
                    <div  class="element-box-tp">

                        <div id="recent-news-container">

                        </div>
                        <a class="centered-load-more-link" href="#"><span>Read More</span></a>
                    </div>
                </div>

            </div>

        </div>
        <div class="row pt-2">
            <div class="col-6 col-sm-3 col-xxl-2">
                <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">
                        Total Earnings
                    </div>
                    <div class="value">
                        $0.00
                    </div>
                    {#                    <div class="trending trending-up">#}
                    {#                        <span>12%</span><i class="os-icon os-icon-arrow-up6"></i>#}
                    {#                    </div>#}
                </a>
            </div>
            <div class="col-6 col-sm-3 col-xxl-2">
                <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">
                        Available Balance
                    </div>
                    <div class="value">
                        $0.00
                    </div>
                    {#                    <div class="trending trending-down">#}
                    {#                        <span>12%</span><i class="os-icon os-icon-arrow-down6"></i>#}
                    {#                    </div>#}
                </a>
            </div>
            <div class="col-6 col-sm-3 col-xxl-2">
                <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">
                        Amount at Risk
                    </div>
                    <div class="value text-danger">
                        $0.00
                    </div>

                </a>
            </div>
            <div class="col-6 col-sm-3 col-xxl-2">
                <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">
                        Win/Loss
                    </div>
                    <div class="value">
                        0.00
                    </div>
                    {#                    <div class="trending trending-up">#}
                    {#                        <span>12%</span><i class="os-icon os-icon-arrow-up6"></i>#}
                    {#                    </div>#}
                </a>
            </div>
            <div class="col-6 col-xxl-2 d-sm-none d-xxl-block">
                <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">
                        Bonus Points
                    </div>
                    <div class="value">
                        0
                    </div>

                </a>
            </div>
            <div class="col-6 col-xxl-2 d-sm-none d-xxl-block">
                <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">
                        Free Plays
                    </div>
                    <div class="value">
                        0
                    </div>

                </a>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12 col-lg-4">
                <div class="element-wrapper">
                    <h6 class="element-header">
                        Active Bets
                    </h6>
                    <div class="element-box-tp">

                        {% for bet in bets %}
                            <div class="profile-tile">
                                <div class="profile-tile-meta">
                                    <ul>
                                        <li>
                                            Pick: <strong>{{bet.pickValue}}</strong>
                                        </li>
                                        <li>
                                            Amount:<strong>${{ bet.amount }}</strong>
                                        </li>
                                        <li>
                                            Date Placed: <strong>{{ bet.dateCreated | date }}</strong>
                                        </li>
                                    </ul>
                                    <div class="pt-btn">
                                        <a class="btn btn-success btn-sm" href="{{ path('game_page') }}">View Game</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="element-wrapper">
                    <h6 class="element-header">
                        Upcoming Games
                    </h6>
                    <div class="element-box-tp">
                        <div class="row">
                            {% for game in games %}
                                <div class="col-12 col-md-4 col-lg-3">
                                    <a href="/game/?gameID=1&eventID={{ game.eventID }}">
                                        <div class="element-wrapper game-card">
                                            <div class="element-box">
                                                <div class="game-card-title">
                                                    <h4>{{ game.title }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}